
header {
    height: 2.5em; 
    display: flex;
    align-items: center; 
    background-color: var(--bg-color-header);
    padding: 0 1em; 
    border-bottom: 0.0625em solid var(--border-color);
}

header svg {
    margin-right: 0.5em;
}

nav {
    display: flex;
    margin-left: 0.75em;
    flex-grow: 1; 
    align-items: center; 
}

nav ul {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
}

nav ul li {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1em;
}

 .group {
    display: flex;
    align-items: center; 
    gap: 0.5em; 
}

header .group .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

header .group .dot.red {
    background-color: rgb(252, 58, 58);
}

header .group .dot.green {
    background-color: rgb(17, 159, 17);
}

header .group .dot.yellow {
    background-color: rgb(188, 188, 77);
}

footer.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: var(--bg-color-header); 
    color: var(--text-color); 
    
    padding: 0.4em 0.2em; 
    font-size: 0.9em; 
    border-top: 1px solid var(--border-color); 
  }
  footer.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; /* Ensures all items are aligned in one row */
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: var(--bg-color-header); 
    color: var(--text-color); 
    padding: 0.4em 0.2em; 
    font-size: 0.9em; 
    border-top: 0.0625em solid var(--border-color); 
}

.footer .group-left,
.footer .group-right {
    display: flex;
    align-items: center; /* Ensures all items are vertically centered */
    gap: 1.5em;
}

.footer .group-left {
    margin-left: 1em;
}
/* .footer .group-left p{
    paddign
    background-color: var(--bg-primary);
} */
.footer .group-right {
    margin-right: 1.3em;
}


.footer span {
    display: flex;
    align-items: center;
}

footer svg {
    margin-right: 0.3em; 
}
.footer img {
    filter: brightness(0) invert(1); /* Converts black icons to white */
  }
  
  
  