
:root{
  background-color: rgb(37, 37, 37);
  --border-color: rgba(99, 99, 99, 0.454);
  --bg-color-header:rgb(15, 15, 15);
  --text-color:white;
  --bg--primary:rgb(3, 117, 224);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
